*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    background-color:  #1f2937;
    display:flex;
    justify-content: space-between;
    padding: 20px 100px;
}


.logo{
    font-size: 24px;
    color: #f9faf8; 
}


.nav-links{
    display: flex; 
    justify-content: space-between;

}

.nav-links li{
    list-style: none;
    display: inline-block;
    padding: 0 20px;
}


.nav-links a {
    text-decoration: none;
    color: #f9faf8;
}

 







.hero{
    display: flex;
}

.hero h1{
    font-size: 48px;
}

.hero-text p{
    color:#e5e7eb;
    font-size: 18px;
} 

.hero-text h1  span, 
            p  span{
    display:block;
}


.hero-image{
    background-color: azure;
    width: 400p;
    
}