*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.header{
    background-color:  #1f2937;
    display:flex;
    justify-content: space-between;
    padding: 20px 100px;
}


.logo{
    font-size: 24px;
    color: #f9faf8; 
}


.nav-links{
    display: flex; 
    justify-content: space-between;

}

.nav-links li{
    list-style: none;
    display: inline-block;
    padding: 0 20px;
    
}


.nav-links a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
   
}



.hero{
    display: flex;
    background-color: #1f2937;
    justify-content: space-between;
    align-items: center;
}

.hero-text{
    border: 3px solid red;
    width: 800px;
    margin: 100px ;
    padding-top: 50px;
    height: 300px;
}
.hero h1{
    font-size: 48px;
    font-weight: extra-bold;
    color: #f9faf8;
}

.hero-text p{
    color:#e5e7eb;
    font-size: 18px;
    
} 

.hero-text h1  span, 
            p  span{
    display:block;
}



.hero-text button{
    border: 0px;
    border-radius: 7px;
    padding: 5px 20px 5px 20px;
    background-color:  #3882f6;;
    color: white;
    font-weight: bold;
    margin: 20px 0 ;

}
.hero-image{
    background-color: azure;
    border: 3px solid red;
    width: 1200px;
    height: 400px;
    margin:100px;
}

.content h2{
    text-align: center;
    font-size: 36px;
    font-weight: extra-bold;
    color: #1f2937;
    margin: 050px;
}

.service-container{
    display: flex;
    justify-content: center;
    border: 3px solid red;
}

.service-image{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.service-photo{
    border-radius: 10px;
    border: 3px solid blue;
    width: 150px;
    height: 150px;
    margin-top: 20 2px;
    
}
.service-image p{
    background-color: #f9faf8;
    margin:0 10px;
    text-align:center;
    border: 1px solid red;
    color: #1f2937; 
}

.quote-box{
    background-color: #e5e7eb;
    display:flex ;
    flex-direction: column;
    align-items: center;
    color: #1f2937; 
    
    border:3px solid yellow;
}

.quote{
    font-size: 36px;
    font-style: italic;
}


.author{
    margin-left: 50%;
    font-weight: bold;
}


.call-to-action{
    border: 3px solid green;
    padding: 5%;
    
   
    

}

.action-container{
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    border-radius: 10px;
    background-color: royalblue;
    width: 800px;
    padding:20px 40px ;

    
}

.action-text h5{
        color:#f9faf8;
        
}

.action-text p{
    color: #e5e7eb;
}

.action-container button{
    border: 1px solid white;
    background-color: transparent;
    border-radius: 7px;
    padding: 5px 15px 5px 15px;
    color: white;
    margin: 20px 0 ;
}
